/* Breadcrumb */
.breadcrumb {
  background-color: var(--bg-card);
  padding: 1rem 1.5rem;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  margin-bottom: 2rem;
  font-size: 0.9rem;
  color: var(--text-secondary);
}

.breadcrumbLink {
  color: var(--accent-blue-light);
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 1rem;
}